:root {
    --theme-color: #206be7;
    --theme-hover: #1162e8;
    --action-color: #206be7;
    --theme-font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Source Han Sans CN,sans-serif;
}
@-webkit-keyframes rotating {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    };
}

@keyframes rotating {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    };
}

body {
    background: #f5f5f5;
    font-family: var(--theme-font-family);
    line-height: 1.42857;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin: .67em 0;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

code,kbd,pre,samp {
    font-family: SFMono-Regular,Liberation Mono,Consolas,Menlo,monospace,Microsoft Yahei;
    font-size: 1em;
}

a {
    background-color: transparent;
    color: var(--theme-color);
    text-decoration: none;
}


b,strong {
    font-weight: bolder;
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

img {
    border-style: none;
    vertical-align: middle;
}

body,button,input,select,textarea {
    margin: 0;
}

optgroup {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,input {
    overflow: visible;
}

button,select {
    text-transform: none;
}

[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    margin: 0;
    min-width: 0;
}

[type=checkbox],[type=radio],legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

legend {
    display: table;
    max-width: 100%;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type=checkbox],[type=radio] {
    padding: 0;
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto;
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

summary {
    display: list-item;
}

[hidden],template {
    display: none;
}

*,:after,:before,input[type=search] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button,input,select,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a:hover {
    color: var(--theme-hover);
    text-decoration: none;
}

a:focus,input[type=checkbox]:focus,input[type=file]:focus,input[type=radio]:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -1px;
}

figure {
    margin: 0;
}

[role=button] {
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
    font-weight: 400;
    line-height: 1;
    color: #777;
}

h1,h2,h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 small,h2 small,h3 small {
    font-size: 65%;
}

h4,h5,h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 small,h5 small,h6 small {
    font-size: 75%;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p {
    margin: 0 0 10px;
}

small {
    font-size: 85%;
}

mark {
    background-color: #fff6e6;
    padding: .2em;
}

dl,ol,ul {
    margin-top: 0;
    margin-bottom: 10px;
}

ol ol,ol ul,ul ol,ul ul {
    margin-bottom: 0;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

blockquote ol:last-child,blockquote p:last-child,blockquote ul:last-child {
    margin-bottom: 0;
}

blockquote footer,blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857;
    color: #777;
}

blockquote footer:before,blockquote small:before {
    content: "\2014 \00A0";
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857;
}

fieldset,legend {
    padding: 0;
    border: 0;
}

legend {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

input[type=file] {
    display: block;
}

input[type=range],legend {
    display: block;
    width: 100%;
}

select[multiple],select[size],textarea.form-control {
    height: auto;
}

@-ms-viewport {
    width:device-width;
}


header {
    background:#fff; position:fixed; z-index:999;
    left:0; width:100%; border:0;
    -webkit-box-shadow:0 0 3px 1px rgba(0,0,0,.1);
    box-shadow:0 0 3px 1px rgba(0,0,0,.1);
}
.logo>div,.logo>div img{
    -webkit-transition:all .3s ease-out 0s;
    -o-transition:all .3s ease-out 0s;
    transition:all .3s ease-out 0s;
}
.logo>div{
    height:64px; display:table-cell; vertical-align:middle;
}
.logo>div img{
    max-height: 32px;
}
.logo:after,.logo:before{
    content:" "; display:table;
}
.logo:after{
    clear:both;
}
.logo{
    float:left;
}
nav>a{
    padding:0 14px; color:#333; line-height:64px; background:0 0; float:left;
}
nav>a:focus, nav>a:hover{
    text-decoration:none; background-color:#eee;
}
nav>a:hover{
    color:var(--theme-hover); background:0 0;
}

#wrap{
    padding-top:64px;
}
.wrap {
    margin-top:20px; margin-bottom:20px;
    position: relative;
    margin-top: 40px;
}
.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    width:1200px;
}
.container:after,.container:before{
    content: " "; display: table;
}
.container:after{
    clear: both;
}

.main{
    -webkit-transition:all .3s ease-out 0s;
    -o-transition:all .3s ease-out 0s;
    transition:all .3s ease-out 0s;
    width:860px; float:left;
}

footer{
    padding: 10px 0;
    color: rgba(255,255,255,.7);
    background: #2d3236;
}
footer .copyright {
    font-size: 14px;
}
footer .copyright p {
    margin: 0 0 5px;
}
footer .copyright p:last-child {
    margin-bottom: 0;
}
.footer-col {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
    margin-right: 32px;
}


.sidebar{
    width:300px; float:right;
}

.widget{
    margin-bottom:20px; padding:15px; background:#fff;
}
.widget ul{
    list-style:none; margin:0; padding:0;
}
.widget ul li{
    position:relative; padding:5px 0 10px 12px; line-height:1.46;
}
.widget ul li:before{
    content:""; position:absolute; line-height:0;
    left:0; top:11px; width:0; height:0;
    border:4px solid transparent;
    border-left:5px solid #ccc;
}
.widget ul a{
    color:#666;
}
.widget ul a:hover{
    color:var(--theme-hover);
    text-decoration:none;
}
.widget-title {
    margin: 2px 0 15px;
    padding: 0 0 0 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    position: relative;
}
.widget-title:before {
    content: ""; position:absolute; border-radius: 3px;
    left:0; top:0; width:3px; height:100%;
    background-color: var(--theme-color);
    background-image: -o-linear-gradient(top,rgba(255,255,255,.15),transparent);
    background-image: linear-gradient(180deg,rgba(255,255,255,.15),transparent);
}


.tagcloud a {
    display: inline-block;
    margin: 0 2px;
    padding: 5px 12px;
    font-size: 12px!important;
    line-height: 1.2;
    text-align: center;
    color: #666;
    border: 1px solid rgba(100,100,100,.3);
    border-radius: 2px;
    text-decoration: none;
    background: rgba(255,255,255,.2);
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tagcloud a:hover {
    color: #fff;
    background: var(--theme-hover);
    border-color: var(--theme-hover);
}

.post_thumb li:before {
    display: none;
}
.post_thumb .item {
    margin: 0;
    padding: 15px 0;
    overflow: hidden;
    border-bottom: 1px solid rgba(239,239,239,.8);
}

.post_thumb .item:first-child {
    padding-top: 5px;
}

.post_thumb .item-img img,.post_thumb .item:hover img {
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.post_thumb .item:hover img {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.post_thumb .item-img {
    float: left;
    width: 100px;
    overflow: hidden;
    border-radius: 3px;
}

.post_thumb .item-img img {
    width:100%; height:63px; vertical-align:top;
}

.post_thumb .item-title {
    height: 38px;
    margin-bottom: 10px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 1.4;
}

.post_thumb .item-date {
    margin: 0;
    font-size: 12px;
    color: #999;
    line-height: 14px;
}

.post_thumb .item-content {
    margin-left: 110px;
}




.pagination {
    display:block;
    text-align:center;
    padding-left:0!important;
    margin:0!important;
}
.pagination>li {
    display:inline-block;
    font-size:12px;
    color:inherit;
    vertical-align:top;
    padding:0;
    font-size:13px;
    line-height:28px;
    cursor:pointer;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    text-align:center;
    margin:0 5px!important;
    color:#606266;
    background-color:#f4f4f5;
    min-width:30px;
    border-radius:2px;
    display:inline-block;
}
.pagination>li>a{
    display:block;
    padding:0 8px;
    color:inherit;
}
.pagination>li:hover {
    color:#fff;
    background:var(--theme-hover);
}

.sec-panel{
    margin-bottom:20px;
    background:#fff
}
.sec-panel-body{
    padding:20px;
}

.posts {
    padding:0 20px;
    margin: 0 0 20px
}

.posts .item,.posts .item:hover {
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.posts .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid rgba(239,239,239,.8);
    overflow: hidden
}

.posts .item:hover {
    margin: 0 -20px;
    padding: 20px;
    background: #fafafa
}

.posts .item-img:hover img {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.posts .item-img img{
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}


.posts .item-excerpt p{
    margin-bottom: 0
}

.posts .item-img,.posts .item-img:hover {
    -webkit-transition: -webkit-box-shadow .3s ease 0s;
    -o-transition: box-shadow .3s ease 0s;
    transition: box-shadow .3s ease 0s;
    transition: box-shadow .3s ease 0s,-webkit-box-shadow .3s ease 0s
}

.posts .item-img {
    position: relative;
    width: 30%;
    overflow: hidden;
    border-radius: 4px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0
}

.posts .item-img:before {
    content: "";
    display: block;
    padding-top: 62.5%
}

.posts .item-img:hover {
    -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 1px 0 rgba(0,0,0,.3)
}

.posts .item-img .item-img-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.posts .item-img img {
    -o-object-fit: cover;
    object-fit: cover
}


.posts .item-category {
    position: absolute;
    left: 10px;
    top: 15px;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    background-color: #000;
    filter: alpha(opacity=60);
    background: rgba(0,0,0,.6);
    border-radius: 3px;
    text-decoration: none
}

.posts .item-category:hover {
    background: var(--theme-hover)
}

.posts .item-content {
    position: relative;
    width: 100%;
    padding-left: 20px
}

.posts .item-title {
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500
}

.posts .item-excerpt,.posts .item-title a {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2
}

.posts .item-title a {
    color: #333;
    max-height: 56px;
    text-decoration: none
}

.posts .item-excerpt {
    height: 52px;
    margin-bottom: 10px;
    line-height: 1.625;
    color: #606266;
    font-size: 16px
}

.posts .item-meta {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-right: 20px;
    color: #999;
    font-size: 12px
}

.posts .item-meta .item-meta-right {
    float: right
}

.posts .item-meta .item-meta-li {
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    line-height: 24px
}

.posts .item-meta .item-meta-li:last-child {
    margin-right: 0
}








.hentry{
    background:#fff; padding:30px;
    margin-bottom: 20px
}

.entry-head {
    margin-bottom: 20px
}

.entry-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.4
}

.entry-info {
    padding-bottom: 10px;
    color: #999
}

.entry-info a {
    color: #999
}

.entry-info a:focus,.entry-info a:hover {
    color: var(--theme-hover);
    text-decoration: none
}


.entry-info .dot {
    margin: 0 6px;
    color: #ccc
}

.entry-excerpt {
    padding: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.8;
    color: #999;
    background: #fbfbfb;
    border: 1px solid #efefef;
    border-radius: 3px
}

.entry-content {
    position: relative;
    font-size: 16px;
    color: #262626;
    line-height: 1.8
}

.entry-content h1,.entry-content h2,.entry-content h3 {
    margin: 30px 0 20px;
    line-height: 1.4;
    font-weight: 500
}

.entry-content h4,.entry-content h5 {
    font-weight: 500
}

.entry-content h1 {
    font-size: 24px
}

.entry-content h2 {
    padding-bottom: 12px;
    font-size: 20px;
    border-bottom: 1px solid #efefef
}

.entry-content h3 {
    font-size: 18px
}

.entry-content>h3 {
    position: relative;
    padding-left: 18px;
    line-height: 1.46;
    border: 0
}

.entry-content>h3:before {
    position: absolute;
    top: 4px;
    left: 0;
    content: "";
    width: 3px;
    height: -webkit-calc(100% - 8px);
    height: calc(100% - 8px);
    border-radius: 3px;
    background-color: var(--theme-color);
    background-image: -o-linear-gradient(top,rgba(255,255,255,.15),transparent);
    background-image: linear-gradient(180deg,rgba(255,255,255,.15),transparent)
}

.entry-content p {
    margin-bottom: 20px;
    line-height: 1.8;
    word-wrap: break-word
}

@media(max-width: 767px) {
    .entry-content p {
        text-align:justify
    }
}

.entry-content>p {
    white-space: pre-wrap
}


.entry-content blockquote {
    color: #444;
    background: #fbfbfb
}

.entry-content blockquote p:last-child {
    margin-bottom: 0
}

.entry-content ol,.entry-content ul {
    padding-left: 2em;
    margin-bottom: 20px;
    list-style-position: outside
}

.entry-content li {
    margin-bottom: 10px
}

.entry-content img {
    height: auto
}

.entry-content audio,.entry-content embed,.entry-content iframe,.entry-content img,.entry-content video {
    max-width: 100%;
    vertical-align: top
}

@media(max-width: 767px) {
    .entry-content video {
        display:block;
        width: 100%;
        height: auto
    }
}

.entry-content video::-internal-media-controls-download-button {
    display: none
}

.entry-content video::-webkit-media-controls-enclosure {
    overflow: hidden
}

.entry-content video::-webkit-media-controls-panel {
    width: -webkit-calc(100% + 30px);
    width: calc(100% + 30px)
}

@media(max-width: 767px) {
    .entry-content audio {
        display:block;
        width: 100%
    }
}

@media(max-width: 767px) {
    .entry-content embed,.entry-content iframe {
        display:block;
        width: 100%;
        min-height: 200px;
        max-height: 500px
    }
}


.entry-content button,.entry-content input,.entry-content select,.entry-content textarea {
    max-width: 100%
}

.entry-content table td,.entry-content table th {
    padding: 5px 10px
}


.entry-content blockquote {
    position: relative;
    padding: 30px 30px 30px 85px;
    background: #f3f3f3;
    border-left: 0;
    font-size: 16px;
    border-radius: 3px
}

@media(max-width: 1239px) {
    .entry-content blockquote {
        padding:20px 20px 20px 70px
    }
}

@media(max-width: 767px) {
    .entry-content blockquote {
        padding:15px 15px 15px 60px
    }
}

.entry-content blockquote:before {
    position: absolute;
    width: 46px;
    height: 46px;
    left: 20px;
    top: 15px;
    background-image: url(data:image/svg+xml;
charset=utf-8;
base64,PHN2ZyBjbGFzcz0naWNvbicgdmlld0JveD0nMCAwIDEwMjQgMTAyNCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJyB3aWR0aD0nMTgwJyBoZWlnaHQ9JzE4MCc+PHBhdGggZD0nTTE5NS41NDEgNzM5LjAzQzE1MS41OTUgNjkyLjM1MSAxMjggNjQwIDEyOCA1NTUuMTM1YzAtMTQ5LjMzMyAxMDQuODMyLTI4My4xNzkgMjU3LjI4LTM0OS4zNTVsMzguMTAxIDU4Ljc5NWMtMTQyLjI5MyA3Ni45Ny0xNzAuMTEyIDE3Ni44NTMtMTgxLjIwNSAyMzkuODMgMjIuOTEyLTExLjg2MiA1Mi45MDctMTYgODIuMzA0LTEzLjI3IDc2Ljk3IDcuMTI1IDEzNy42NDMgNzAuMzE1IDEzNy42NDMgMTQ4Ljg2NGExNDkuMzMzIDE0OS4zMzMgMCAwMS0xNDkuMzM0IDE0OS4zMzMgMTY1LjE2MyAxNjUuMTYzIDAgMDEtMTE3LjI0OC01MC4zMDR6bTQyNi42NjcgMGMtNDMuOTQ3LTQ2LjY3OC02Ny41NDEtOTkuMDMtNjcuNTQxLTE4My44OTQgMC0xNDkuMzMzIDEwNC44MzItMjgzLjE3OSAyNTcuMjgtMzQ5LjM1NWwzOC4xMDEgNTguNzk1Yy0xNDIuMjkzIDc2Ljk3LTE3MC4xMTIgMTc2Ljg1My0xODEuMjA1IDIzOS44MyAyMi45MTItMTEuODYyIDUyLjkwNi0xNiA4Mi4zMDQtMTMuMjcgNzYuOTcgNy4xMjUgMTM3LjY0MiA3MC4zMTUgMTM3LjY0MiAxNDguODY0YTE0OS4zMzMgMTQ5LjMzMyAwIDAxLTE0OS4zMzMgMTQ5LjMzMyAxNjUuMTYzIDE2NS4xNjMgMCAwMS0xMTcuMjQ4LTUwLjMwNHonLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% auto;
    content: "";
    opacity: .15
}

@media(max-width: 1239px) {
    .entry-content blockquote:before {
        width:42px;
        height: 42px;
        left: 15px
    }
}

@media(max-width: 767px) {
    .entry-content blockquote:before {
        width:36px;
        height: 36px;
        left: 10px
    }
}

.entry-content pre {
    padding: 30px;
    background: #2b303b;
    border-radius: 3px;
    border: 0;
    color: #eee;
    overflow-x: scroll
}

@media(max-width: 1239px) {
    .entry-content pre {
        padding:20px
    }
}

@media(max-width: 767px) {
    .entry-content pre {
        padding:15px
    }
}

.entry-page p {
    margin: 0
}


.entry-footer {
    margin: 30px 0
}



.entry-tag {
    font-size: 0
}

.entry-tag a {
    display: inline-block;
    margin: 0 10px 5px 0;
    padding: 4px 15px;
    font-size: 12px;
    line-height: 1.2;
    color: #606266;
    border: 1px solid #efefef;
    border-radius: 3px
}

.entry-tag a:focus,.entry-tag a:hover {
    color: #fff;
    background: var(--theme-hover);
    border-color: var(--theme-hover);
    text-decoration: none
}





.entry-page {
    margin: 30px 0;
    overflow: hidden
}

.entry-page-next,.entry-page-prev {
    position: relative;
    width: 49%;
    padding: 60px 15px 10px;
    color: #fff;
    background-size: cover;
    background-position: 50%;
    border-radius: 4px;
    overflow: hidden
}

.entry-page-prev {
    float: left
}

@media(max-width: 767px) {
    .entry-page-next,.entry-page-prev {
        width:100%;
        margin-bottom: 10px;
        float: none
    }
}

.entry-page-next:before,.entry-page-prev:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    content: ""
}

.entry-page-next:hover:before,.entry-page-prev:hover:before {
    background: rgba(0,0,0,.7)
}

.entry-page-next a,.entry-page-prev a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #fff;
    font-size: 16px
}

.entry-page-next a span,.entry-page-prev a span {
    display: block;
    padding: 10px 15px 0;
    height: 50px;
    line-height: 20px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2
}

.entry-page-next a:hover,.entry-page-prev a:hover {
    color: #fff;
    text-decoration: none
}

.entry-page-next .entry-page-info,.entry-page-prev .entry-page-info {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden
}

.entry-page-next .entry-page-info .wi,.entry-page-prev .entry-page-info .wi {
    opacity: .9
}

.entry-page-next {
    float: right
}
